<div class="p-grid">
  <div class="p-col">
    <h2>Hero details:</h2>
  </div>
</div>

<div class="p-grid" *ngIf="hero">
  <div class="p-col-4">

    <div class="p-grid">
      <div class="p-col">
        ID
      </div>
      <div class="p-col">
        {{hero.id}}
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col">
        Name
      </div>
      <div class="p-col">
        <input type="text" pInputText [(ngModel)]="hero.name" />
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col">
        Element
      </div>
      <div class="p-col">
        {{hero.element}}
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col">
        Kann fliegen:
      </div>
      <div class="p-col">
        <p-checkbox [(ngModel)]="hero.kannFliegen" [binary]="true"></p-checkbox>        
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col">
        Magie
      </div>
      <div class="p-col">
        <input type="number" pInputText [(ngModel)]="hero.magie" />
      </div>
    </div>

    <div class="p-grid">
      <div class="p-col">
        <span class="p-buttonset">
          <button pButton (click)="goBack()" label="go back" class="p-button-warning" icon="pi pi-arrow-left"></button>
          <button pButton (click)="save()" label="save" class="p-button-success" icon="pi pi-save" ></button>
        </span>
      </div>
    </div>

  </div>
</div>

<div class="p-grid" *ngIf="!hero&&heroId">
  <div class="p-col">
    <h2>No Hero found with id={{heroId}}</h2>
  </div>
</div>

<div class="p-grid" *ngIf="!hero&&!heroId">
  <div class="p-col">
    <h2>No Id found</h2>
  </div>
</div>